@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  max-width: 1140px;
  margin: 0 auto;
}

li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
a {
  cursor: pointer;
}
