@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  max-width: 1040px;
  margin: 0 auto;
}

li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
a {
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(30, 32, 36);
}
